  body {
    font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
    background-color: lightgrey;
    margin: 0;
  }
    
  header, button, .hdr {
    background-color: #31ADE3;
    color:            white;
    padding:          5px;
    }

  table {
    margin: 0;
    padding: 0;
  }
  
  input[type="file"] {
    display: none;
  }

  .custom-file-upload {
    border:           1px solid #ccc;
    display:          inline-block;
    padding:          6px 12px;
    margin-bottom:    5px;
    cursor:           pointer;
    border-radius:    5px;
    background-color: #31ADE3;
    color:            white;
  }

  .stk {
    background-color: lightgrey;
  }

  .cost {
    border: thin solid lightgrey;
    width: 3in;
  }

  table.cost td {
    border: thin solid lightgrey;
  }

  th {
    margin: 0;
    position: sticky;
    top: 0;
  }
    
  .helpRows {
    background-color: white;
    overflow: scroll;
  }

  h3 {
    margin: 0;
  }
    
  .blk {
    position:      relative;
    padding-right: 10px;
    border:        none;
    float:         left;
  }
  
/*  .sash {
    height:   2in;
    width:    10px;
    border:   none;
    cursor:   col-resize;
    overflow: none;
    padding:  5px;
    position: relative;
  }
*/  
  .edt {
    width: 5em;
  }

  .clear {
    clear: left;
  }
  
  .title {
    margin: 0;
    padding: 0.6em;
  }
      
  .sidebyside {
    box-sizing: content-box;
    width:      48%;
    border:     none;
  }

  .logBody, .helpBody, .settingsBody, .diffBody, .batchBody {
    position:          relative;
    display:           block;
    border:            none;
    margin:            0;
    overflow:          auto;
    padding:      10px;
    height:            calc( 100% - 0.5in );
  }
    
  .logPage, .settingsPage, .helpPage, .diffPage, .batchPage {
    position:         absolute;
    width:            5.5in;
    background-color: white;
    border-radius:    4px;
    display:          none;
    max-height:       8in;
    overflow:         hidden;
    scroll:           none;
    padding-bottom:   30px;
  }
    
  #eventLogBody {
    scroll-snap-type: y proximity;
  }
  
  #eventLogBody:last-child() {
    scroll-snap-align: end;
  }
    
  .wide, .buffer {
    width: 99%;
  }
  
  .botm { 
    border: thin solid white;
    border-radius: 5px;
    b/ackground: lightgrey;
    margin-right: 3px;
  }

  header {
    height: 0.5in;
    vertical-align: middle;
    top: 0;
  }
    
  button {
    border-radius: 5px;
    border: thin solid lightgrey;
    margin: 3px;
  }

  .diff {
    margin:  -3px 0 -3px 0;
    padding: 0;
  }
  
  .dragable {
    display:          none;
    position:         fixed;
    top:              30%;
    left:             25%;
    z-index:          1000;
    height:           40%;
    min-height:       1in;
    width:            8in;
    min-width:        1in;
    border:           thin solid grey;
    border-radius:    5px;
    background-color: white;
    color:            black;
    margin:           0;
    padding:          5px;
    resize:           both;
    box-sizing:       border-box;
  }

  #currentContextScope {
    display: none;
  }
  
  .hdr {
    border-bottom: thin solid grey;
    padding-right: 5px;
  }
  
  .actions { 
    padding-right: 8px; 
    text-align: right;
  }
  
  #helpheader { p/adding-right: 5px;}
  .resizable {
    resize: vertical;
  }
  
  .indent {
    margin: 5px 0 5px 1in;
  }
  
  .textBox {
    border-radius: 5px;
    border: thin solid lightgrey;
    height: 4em;
    width: 100%;
    padding: 5px;
    margin: 2px;
    overflow: hidden
  }

  .diffs {
    overflow: hidden;
    height: 100%;
  }
  
  .flxrow {
    display: flex;
    border: none;
    overflow: none;
    position: relative;
    width: 100%
  }

  .cols {
    flex: 1;
  }
  
  .gutter {
    flex: 0;
    width: 0.01in;
    border: none;
  }
  
  .bufferTitle {
    border: thin solid lightgrey;
    border-radius: 5px;
    width: 30%;
  }

  .bufferGroup {
    width: 99%;
  }
  
  .buffer {
    width: 100%;
    display: none;
    z-index: 1000;
  }

  #repeatingContext {
    height: 2em;
  }
    
  #chatError {
    color: red;
  }  

  #mainPage {
    padding: 1em;
  }

  #config {
    border: thin solid lightgrey;
    background-color: #eee;
    padding: 7px;
  }
    
  #config-title {
    font-size: 1.5em;
    border: none;
  }

  #help {
    top: 2in;
    left: 2in;
    width: 5in;
    height: 5in;
    padding: 0;
    margin: 0;
    border: thin solid grey;
    background-color: white;
    overflow: auto;
    display: none;
    resize: both;
  }

  .high { /* must be after all dragables */
    z-index: 1010;
  }

  .disabled-button {
    opacity:         0.4;
    cursor:          not-allowed;
    pointer-events:  none;
  }
  
  i.fas {
    cursor: default;
  }
  
  i.fas:hover {
    cursor: pointer;
  }
  
  .tooltip {
    position: relative;
  }
  
  .tooltip:before {
    content:     attr(data-text); /* here's the magic */
    position:    absolute;
    top:         120%;            /* vertically center */
    transform:   translateY(-50%);
    right:       100%;            /* move to left */
  
  /* basic styles */
    width:         200px;
    padding:       5px;
    border-radius: 5px;
    background:    #ddd;
    color:         #000;
    text-align:    center;
    opacity:       95%;
    z-index:       1050;
    display:  none; /* hide by default */ 
  }
  
  .tooltip:hover:before {
    display: block;
  }
